[run]
omit =
    #omit environments
    */env/*
    #omit inits
    */__init__.py
    #omit the coveage script
    */getcoverage.py
    #omit django confs
    */retwitter/*
    */apps.py
[html]
directory = docs
